[submodule "power-measurements/pinpoint"]
	path = power-measurements/pinpoint
	url = https://github.com/osmhpi/pinpoint.git
[submodule "carbs"]
	path = carbs
	url = https://github.com/Quacck/carbs
	branch = main
